{% extends 'base.html.twig' %}

{% block title %} Eyes Contact | Conditions générales de vente {% endblock %}

{% block body %}
<style>
    .title-mention{
    font-size: 20px;
    font-weight: 600;
    color: rgb(54, 53, 53);
    font-family: "arial, sans-serif";
    margin:15px;
    }
    .desc-mention{
        margin: 10px auto;
    }
    .text-legal{
        font-size: 16px;
        margin: 10px;
        font-family: "arial, sans-serif";
    }
</style>

<div class="container mx-auto mt-4">

    <h1 class="font-inria-serif text-4xl text-center md:text-left">Conditions générales de vente EYES CONTACT</h1>
    
    <div>
        <h2>1. Les caractèristiques du bien ou du service</h2>

        <p>
           Les présentes conditions régissent les ventes des produits optiques par la société EYES CONTACT du groupe de la Promo 4 ( Hady, Alice et Jimmy).

        </p>

        <p>
            Le site EYES CONTACT vend : 
        </p>

        <ul>
            <li><p> Des lunettes de vue ( Femmes / Hommes / Enfants ) </p></li>
            <li><p> Des lunettes de soleil ( Femmes / Hommes / Enfants ) </p></li>
            <li><p> Des lentilles </p></li>
        </ul>
    </div>

    <div>
    
        <h2>2. Prix</h2>

        <p>
        
        Tous les produits sont affichés en euros (€) Toutes Taxes Comprises (TTC) et TVA et autres taxes applicables au jour de la commande.

        Toute modification du taux applicable peut impacter le prix des Produits à compter de la date d’entrée en vigueur du
        nouveau taux.

        Les prix indiqués sont valables, sauf erreur grossière. Le prix applicable est indiqué à la date de la commande passée par le client. 

        </p>
    
    </div>


    <div>
    
        <h2>3. Livraison</h2>

        <p>
            Les détails des délais et frais de livraison sont indiqués dans le panier du Client. En cas de retard, le client est remboursé dans un délai de 14 jours.
        </p>
    
    </div>

    <div>
    
        <h2>4. Le Droit de Rétractation</h2>

        <p>
           Nous rappelons que la loi prévoit un droit de rétraction de 14 jours pour les clients particuliers, sans qu’il soit nécessaire de le motiver. Si le client doit supporter les frais de renvoi, cela doit être indiqué.
            Le Code de la consommation prévoit une liste de cas spécifiques pour lesquels le droit de rétractation de 14 jours n’est pas applicable. Pour que l’entreprise puisse s’en prévaloir, il doit avoir préalablement informé le client de la non-application du droit de rétractation et pouvoir en justifier. Cela doit donc être stipulé dans les conditions générales de vente du site e-commerce.
        </p>
    
    </div>
    
    <div>
    
        <h2>5. Les modalités de paiement</h2>

        <p>
         Le règlement des commandes s'effectue :
        </p>

        <ul>
            <li> soit par carte bancaire </li>
            <li> soit par Paypal</li>
        </ul>

        <p>
            Le type de délai de paiement sera un paiement comptant : le client a l'obligation de payer ses biens le jour de la réalisation de la commande.
            En cas de non-paiement ou payement invalide la commande ne sera pas validée et le processus de livraison sera annulé. 
        </p>

    </div>
    <div>
        <h2>6. La responsabilité du vendeur et du consommateur </h2>

        <p>
            La société Eyes Contact à pour responsable :  
        </p>

        <ul>
            <li>
               Responsable la qualité et conformité des produits avant votre achat des biens
            </li>

            <li>
               L’affichage de la disponibilité de nos produits est cohérent avec les stockages . 
            </li>

            <li>
               Assurer la protection lors de l’achat en ligne. 
            </li>

            <li>
               Responsable de la sécurité des données personnelles
            </li>
        </ul>

        <p>	Le consommateur est responsable : </p>

        <ul>
            <li>
                Des produits achetés bien réceptionnés au consommateur est responsable de la qualité des produits lors de leur première utilisation.
            </li>

            <li>
                Responsable du traitement de moyens de paiement             
            </li>
        </ul>

    </div>

    <div>
    
        <h2>7. Garantie et droit de retour du produit</h2>


        <p>
          Vous bénéficiez de la garantie légale de conformité et donc d'une application de l'article L211-4 du code de la consommation qui dispose que :
        </p>

        <ul>
            <li>
                "le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance".
            </li>

            <li>
                "il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque 
                Celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité".
            </li>
        </ul>

        <p>
	       La garantie est applicable à nos produits neufs ayant un caractère défectueux (rayures, verre cassé, trace, etc...) et ce, même en l'absence de garantie contractuelle.
        </p>

        <p>
            Un défaut de conformité peut apparaître jusqu'à 6 mois après la transaction. Son existence est présumée au jour de la délivrance du bien et vous n'avez
            pas à démontrer l'existence du défaut de conformité.
        </p>

        <p>
            Dans le cas d'un défaut de conformité, nous nous engageons à :
        </p>

        <ul>
            <li>
                <p>remplacer le produit</p>
            </li>

            <li>
                <p>réparer le produit dans un délai de 30 jours et sans frais.</p>
            </li>
        </ul>
    
    </div>


    <div>
    
        <h2>8. Juridiction compétente et droit applicable</h2>


        <p>
          En cas de litige entre le client consommateur et notre société, le droit applicable est le droit français.
          Les juridictions françaises sont seules compétentes pour trancher le litige. 
        </p>
    
    </div>

     


    <div>
    
        <h2>9. Réclamations du consommateur</h2>


        <p>
          Toute réclamation du consommateur est à adresser par email mentionnée <a href="mailto: eyes-contact@gmail.com"> eyes-contact@gmail.com</a>.
        </p>
    
    </div>
    
</div>

{% include 'footer/footer.html.twig' %}
{% endblock %}
