{% extends 'base.html.twig' %}

{% block title %} Eyes Contact | Mentions Légales{% endblock %}

{% block body %}
<style>
    .title-mention{
    font-size: 20px;
    font-weight: 600;
    color: rgb(54, 53, 53);
    font-family: "arial, sans-serif";
    margin:15px;
    }
    .desc-mention{
        margin: 10px auto;
    }
    .text-legal{
        font-size: 16px;
        margin: 10px;
        font-family: "arial, sans-serif";
    }
</style>

<div class="container mx-auto mt-4">

    <h1 class="font-inria-serif text-4xl text-center md:text-left">La politique de confidentialité</h1>
    
    <div>
        <h2>Introduction</h2>

        <p>
            Dans le cadre de l’activité, la société EYESCONTACT, dont le siège social est situé au 150 rue de Paris 75001 Paris, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de “ données personnelles” EYESCONTACT attache une grande importance au respect de la vie privée, et n’utilise que des donnes de manière responsable et confidentielle et dans une finalité précise.
        </p>
    </div>

    <div>
    
        <h2>1. Consentement de l’utilisateur</h2>

        <p>
            Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, 	clair et sans équivoque. 
            À voir sur le site la CNIL -  <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre2#Article7">Conditions applicables au consentement</a> (art.7 chapitre 2 - 	Principes).
        </p>
    
    </div>


    <div>
    
        <h2>2. Utilisation des données</h2>

        <p>
            Sur le site web http://eyescontact.com , il y a plusieurs types de données susceptibles d’être recueillies : 


            Ces données sont celles que vous nous transmettez directement, via notre formulaire de contact ou bien par contact direct par e-mail. Sont obligatoires dans le formulaire de 	contact le champs « prénom et nom » et « e-mail ».

            Et notre formulaire pour la création de votre compte sont obligatoire le champs « prénom et nom », « e-mail », « mot de passe », « adresse , code postale» et les facultatifs sont « avatar » et « téléphone mobile »


            Les données que vous nous transmettez directement sont utilisées dans le but de vous recontacter et/ou dans le cadre de la demande que vous nous faites. 

            Et dans le cadre de l’achat de produits et de la livraison.  
            
            Ces données sont utilisées par EYESCONTACT, responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.
        </p>
    
    </div>

    <div>
    
        <h2>3. Conservation des données</h2>

        <p>
           La conservation des données n'est pas illimitée et doit durer le temps de la finalité du traitement. En cas de comptes inactifs pendant 3 ans, les données doivent être supprimées.
        </p>
    
    </div>
    
    <div>
    
        <h2>4. Droit des utilisateurs</h2>

        <p>
          Le RGPD confère aux utilisateurs le droits liés à leurs données personnelles que l’on 	retrouve dans le chapitre 3 du RGPD (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3">à voir</a>): 
        </p>

        <ul>
            <li> Droit être informé </li>
            <li> Droit d’accès  </li>
            <li> Droit de rectification   </li>
            <li> Droit à l’effacement  </li>
            <li> Droit à la limitation de traitement </li>
            <li> Droit à la portabilité des données </li>
            <li> Droit d’opposition  </li>
            <li> Droit liés à la prise de décision automatisé </li>
        </ul>
    
    </div>
    <div>
        <h2>5. Modalité d’exercice des utilisateurs</h2>

        <p>
            Si vous souhaitez exercer vos droits des utilisateurs vous pouvez réaliser : 
	        Il est obligatoire d’envoyer votre carte d’identité afin de vérifier  si vous êtes bien le 	demandeur.
        </p>

        <ul>
            <li>
            
                <div>
                    <p> Par courriel envoyer à l’adresse ci-dessous: </p>

                    <p> 50 rue de Paris 75001 Paris </p>

                </div>
            
            </li>

            <li>
                Par e-mail :  contact@eyescontact.com 
            </li>

            <li>
                Sur place (avec carte d’identité)
            </li>
        </ul>

        <p>	Les délais de réponse est 1 mois sinon il sera prorogé.</p>

    </div>

    <div>
    
        <h2>6. Nom de la personne chargé des données personnelles </h2>


        <p>
           Nom : Hady Sané 
        </p>

        <p>
	       Adresse mail :  hadysane@eyescontact.com 
        </p>
    
    </div>


    <div>
    
        <h2>7. Sécurité des informations collectées </h2>


        <p>
          En respectant l’article 5 de la RGPD (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre2#Article5">à voir</a>). 
          Les données collectées sont protégées contre tout traitement non autorisé ou illicite, la perte, La destruction ou les dégâts d’origine accidentelle. 
        </p>
    
    </div>

     <div>
    
        <h2>8. Commandes</h2>


        <p>
          Pour passer une commande sur notre site, choisissez votre article, ajouter le nombre de quantité et ajouter dans le panier.
        </p>

        <ul>
        
            <li>
                Si vous possédez déjà un compte client sur notre site, veuillez vous identifier.
            </li>    

            <li>
                Si vous ne possédez pas de compte client sur notre site, veuillez en créer un.
            </li> 

            <li>
                Cochez la case "livraison" pour validation de celle-ci.
            </li>

            <li>
                Choisissez votre mode de paiement et cochez la case “acceptation des CGV”.
            </li>

            <li>
                Validez votre paiement
            </li>

            <li>
                Reçu de la facture de la commande
            </li>

            <p>
                Vous recevrez un email de confirmation de votre commande sur l’adresse email que vous avez indiquée lors de la création de votre compte client.
            </p>

            <p>
                Vérifiez les détails et le montant total de votre commande. Rectifiez au préalable les éventuelles erreurs avant toute acceptation.
                Le transfert de propriété du produit n’aura lieu qu’au paiement complet de votre commande.
            </p>
        
        </ul>
    
    </div>
    
</div>

{% include 'footer/footer.html.twig' %}
{% endblock %}
