{% extends 'base.html.twig' %}

{% block body %}


<div class="container ">
    <h1>Page introuvable</h1>

    <p>
        La page demandée n'a pas pu être trouvée. Veuillez vérifier l'URL pour vous assurer qu'elle est correcte ou <a href="{{ path('app_home') }}">retourner à la page d'accueil</a>.
    </p>

</div>

{% endblock %}