{% extends 'base.html.twig' %}

{% block body %}


<div class="container ">
    <h1>Quelque chose ne va pas...</h1>

    <p>
       Une erreur est survenue.
       Veuillez  <a href="{{ path('app_home') }}">retourner à la page d'accueil</a> ou contacter l'administrateur du site web pour obtenir de l'aide.
    </p>

</div>

{% endblock %}